#header {
  background: linear-gradient(186deg, rgba(132, 37, 255, 0.20) 0%, #09090B 100%), url(../../assets/ret.svg);
  background-size: cover;
  background-repeat: no-repeat;
}

#footer {
  background: linear-gradient(111deg, rgb(85, 0, 197) -20.96%, #09090b00 94.36%), url(../../assets/background.svg);
  background-size: cover;
  background-repeat: no-repeat;
}

